.list-candidate-page {
  margin-top: 110px;
  @include tablet {
    margin-top: 60px;
  }
  // .container {
  //   @include tablet {
  //     width: 100%
  //   }
  // }
  font: normal 16px "GTWalsheimProRegular", Arial, sans-serif;
  .add-cadidate-btn {
    position: fixed;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    background-color: $color-yellow;
    color: $color-black;
    &:focus,
    &:active {
      outline: none;
    }
    span {
      margin-top: 2px;
    }
  }

  .loading-block {
    border: 1px solid #ddd;
    > thead > tr > th {
      border-bottom: 0;
    }
    &__spinner {
      text-align: center;
      width: 100%;
      height: 100px;
      background-color: $bg-gray;
    }
    img {
      width: 30px;
      height: 100%;
    }
  }
// List on laptop
  .ths-table-header {
    font-weight: normal;
    font-family: 'HelveticaNeue-Bold';
    padding-top: 10px;
    padding-bottom: 10px;
  }

}
.header {
  border-bottom: 1px solid $bg-gray;
  height: 65px;
  background-color: $color-white;
  @include tablet {
    height: 85px;
  }
  @include desktop {
    height: 95px;
  }
}

.View-project {
  padding-top: 15px;
  float: right;
  @include tablet {
    padding-top: 20px;
  }
  @include desktop {
    padding-top: 25px;
  }
}

.list {
  background: $color-white;
  .list-table {
    &__title {
      font-size: 20px;
      font-family: "ProximaNova-Bold", Arial, sans-serif;
    }

    .btn-col-top {
      padding-top: 20px;
      padding-bottom: 20px;
      float: right;
    }
  }
}

.list-cadidate-table {
  // width: 100%;
  // height: 100%;
  overflow-x: auto;
  margin-bottom: 0;
  .text-status {
    padding-bottom: 10px;
    @include tablet {
      padding-bottom: 0px;
    }
  }

  thead {
    // background-color: $color-black;
    // color: $color-yellow;

    Tr {
      height: 50px;
      background-color: #eee;
    }

    th {
      // text-align: center;
      border: 1px solid #ddd;
      padding: 10px;
      @include tablet {
        padding: 4px;
      }
    }
  }

  > tbody {
    > tr {
      // height: 20px;
      > td.pivoted {
        vertical-align: middle;
        min-height: 40px;
        border-bottom: 1px solid #eee !important;
        padding: 10px;
        @include tablet {
          padding: 4px;
          border: 1px solid #eee !important;
        }
      }
      > td.text-center {
        border: none !important;
      }
    }
  }

  tbody :hover {
    background-color: $bg-gray;
  }
}

.button-common {
  width: 45%;
  background: transparent;
  border: none;
  box-shadow: none;
  &__left {
    margin-right: 2px;
  }
  &__right {
    margin-left: 2px;
  }
}

.tableComponent {
  border-color: red;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc !important;
}

// .responsiveTable tr td.pivoted {
//    border: 1px !important;
//    border-bottom: 0px;
// }

.hidden-not-xs {
  @include tablet {
    display: none;
  }
}


.candidate-table {

  .time {
    width: 150px;
  }
  .candidate {
    width: 30%;
  }
  .interviewer {
    width: 150px;
  }
  .position {
    width: 150px;
  }
  .status {
    width: 100px;
  }
  .action {
    width: 130px;
  }
  &__header {
    width: 100%;
    height: 50px;
    display: table;
    font-weight: bold;
    text-align: center;
    // background-color: #eee;
    background-color: $color-black;
    color: $color-yellow;
    border-top-left-radius: 8px;
      border-top-right-radius: 8px;

    &-th {
      display: table-cell;
      border-right: 1px solid $border-color-gray;
      padding: 10px;
      &:last-child {
        border-right: none;
      }
    }
  }

  &__body {
    width: 100%;
    display: table;
    &--title {
      background-color: lightgrey;
      border: none;
      font-size: 14px;
      padding: 10px;
      font-family: "ProximaNova-Bold", Arial, sans-serif;

    }

    &--item {
      border-bottom: 1px solid $border-color-gray !important;
      width: 100%;
      display: table;
      text-align: center;
    }

    &--col {
      display: table-cell;
      border-right: 1px solid $border-color-gray;
      padding: 8px;
      &:first-child {
        border-left: 1px solid $border-color-gray;
      }
    }

  }
  .profile-no-data {
    border: 1px solid $border-color-gray;
    min-height: 100px;
    margin-top: 30px;
    @include tablet {
      margin-top: 0px; 
    }
    &__txt {
      margin-top: 30px;
    }
  }
}
