@font-face {
  font-family: GTWalsheimProBold;
  src: url('../assets/fonts/GTWalsheimProBold.woff');
}
@font-face {
  font-family: GTWalsheimProRegular;
  src: url('../assets/fonts/GTWalsheimProRegular.woff');
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url('../assets/fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: glyphicons-halflings-regular;
  src: url('../assets/fonts/glyphicons-halflings-regular.woff2');
}

body {
  font-family: 'GTWalsheimProRegular', Arial, sans-serif;
  font-size: 16px;
  background: $color-white;
  height: 100vh;
}

.root {
  height: 100%;
}

.wrap {
  margin: 0 auto;
  width: 100%;
}

.interview-header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 20px 0;
  border-bottom: 1px solid $color-black;
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  &__logo {
    color: $color-black;

    &:hover {
      text-decoration: none;
      color: $color-black;
    }

    img {
      width: 24%;
      height: 100%;
      @include tablet {
        width: 100px;
      }
      
    }
  }

  &__info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__title {
    font-family: 'GTWalsheimProBold', Arial, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    @include tablet {
      font-size: 30px;
    }
  }
}

main {
  height: 100%;
}