@font-face {
  font-family: font_GTWalsheimProBold;
  src: url('../asset/font/GTWalsheimProBold.woff');
}
@font-face {
  font-family: font_GTWalsheimProRegular;
  src: url('../asset/font/GTWalsheimProRegular.woff');
}
@font-face {
  font-family: font_ProximaNova-Bold;
  src: url('../asset/font/ProximaNova-Bold.otf');
}
@font-face {
  font-family: font_glyphicons-halflings-regular;
  src: url('../asset/font/glyphicons-halflings-regular.woff2');
}

body {
  display: block;
  background: $body-color;
  height: 100vh;
}

.root {
  height: 100%;
}

.wrap {
  margin: 0 auto;
  width: 100%;
}