@font-face {
  font-family: GTWalsheimProBold;
  src: url("../assets/fonts/GTWalsheimProBold.woff");
}
@font-face {
  font-family: GTWalsheimProRegular;
  src: url("../assets/fonts/GTWalsheimProRegular.woff");
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url("../assets/fonts/ProximaNova-Bold.otf");
}
@font-face {
  font-family: glyphicons-halflings-regular;
  src: url("../assets/fonts/glyphicons-halflings-regular.woff2");
}

@mixin button-yellow() {
  background-color: $color-yellow;
}

body {
  font-family: "GTWalsheimProRegular", Arial, sans-serif;
  font-size: 20px;
  background: $color-white;
  height: 100vh;
  @include tablet {
    font-size: 16px;
  }
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.root {
  height: 100%;
}

.wrap {
  margin: 0 auto;
  width: 100%;
}

.interview-header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 20px 0;
  border-bottom: 1px solid $color-black;
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  &__logo {
    color: $color-black;

    &:hover {
      text-decoration: none;
      color: $color-black;
    }

    img {
      width: 24%;
      height: 100%;
      @include tablet {
        width: 100px;
      }
    }
  }

  &__info {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .user-name {
      font-family: "GTWalsheimProRegular", Arial, sans-serif;
      padding: 5px;
      font-size: 15px;
      &:hover,
      &:active {
        background: #fff;
        box-shadow: none;
        color: darkgrey;
      }
    }
  }

  &__mobile {
    position: relative;
    .list-group {
      position: absolute;
      width: 200px;
      top: 90%;
      right: 0;
      span.list-group-item {
        text-align: center;
      }
    }
  }

  &__title {
    font-family: "GTWalsheimProBold", Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    @include tablet {
      font-size: 30px;
    }
  }
}

main {
  height: 100%;
}

.loading-in-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color-yellow;
  background-color: $bg-loader;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 19px;
  text-align: center;

  p {
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__spinner {
    font-size: 50px;
  }

  &__content {
    width: 200px;
  }
}

.success-modal {
  .modal-content {
    background-color: $color-gray;
  }

  .modal-header {
    color: $color-white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .modal-body {
    background-color: $color-white;
  }

  .modal-footer {
    background-color: $color-white;
    .success-modal__button-yellow {
      @include button-yellow;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .modal-title {
    line-height: 1;
  }

  .modal-dialog {
    top: 25%;
  }
}

.date-time {
  &__one,
  &__two {
    position: relative;
    // cursor: pointer;
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 30px;
    font-size: 24px;
  }
}

.Toastify {
  position: absolute;
  top: 0;
  z-index: 999999;
  .Toastify &__toast-container {
    padding: 0px;
    width: 100%;
    &--top-center {
      top: 22%;
      left: 0;
      margin-left: 0;
    }
  }
  .Toastify &__toast--default {
    background: #009999;
    color: $color-white;
  }
}

.loading-block-prof {
  height: 100%;
  background: lightgrey;
  opacity: 0.6;
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  &__spinner {
    position: absolute;
    text-align: center;
    bottom: 50%;
    left: 50%;
  }
}

.error_msg,
.span {
  color: red;
}
