$screen-sm-min: 768px;
$screen-md-min: 1024px;
$color-black: #000;
$color-yellow : #FFED00;
$color-white: #FFF;
$color-gray: #8F8E8C;
$bg-gray: #DDD;
$color-lightpink: rgb(228, 146, 162);
$color-lightgreen: #90EE90;
