$screen-mb-min: 320px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$color-black: #000;
$color-yellow: #ffed00;
$color-yellow-hover: #b3a600;
$color-white: #fff;
$color-gray: #8f8e8c;
$bg-gray: #ddd;
$grey-bg: #7A7A7A;
$border-color-gray: #CCC;
$color-lightpink: rgb(228, 146, 162);
$color-lightgreen: #90ee90;
$color-green: #2ec11d;
$bg-loader: rgba(0, 0, 0, 0.7);
$bg-url: "../assets/images/illustration.png";
$mainColor: #231F20;
