$color_dxcYellow : #ffed00;
$font_DXCBold : font_GTWalsheimProBold;
$font_DXCRegular : font_GTWalsheimProRegular;
.error-message{
    border: 2px solid #D0011B !important;
}
.profiledetails {
    font-family: $font_DXCBold;
    // #profiledetails__model--success{
    //     visibility: hidden;
    // }
    textarea.form-control {
        resize: none;
    }
    .form-control{
        background-color: white;
        font-family: $font_DXCRegular;
        border: rgb(230, 230, 230) 2px solid;
        padding: 4px 12px;
    }
    .form-control:focus{
        border: #000 2px solid;
        background-color: white;
    }
    &__select{
        font-family: $font_DXCBold !important;
    } 
    &--title {
        margin: 0;
        padding: 20px 0px;
        background-color: black;
        color: $color_dxcYellow ;
        text-align: center;   
    }
    &__h2--title {
        border-bottom: 2px solid $color_dxcYellow;
    }
    &__radioGroup {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 20px;
        &--item {
            flex: 1;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: $font_DXCRegular;  
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;    
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 24px;
                width: 24px;
                background-color: #eee;
                border-radius: 50%;
                border: 1px solid black;
            }
            .checkmark:after {
                top: 3px;
                left: 3px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: black;
            }
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        &--item:hover input ~ .checkmark {
            background-color: #ccc;
        }
        &--item input:checked ~ .checkmark {
            background-color: white;
        }
        &--item input:checked ~ .checkmark:after {
            display: block;
        }
    }
    &__btn{
        margin-top: 40px;
        &--cancel, &--submit {
            height: 60px;
            width: 100%;
            padding: 22px 50px;
            font-weight: bold;
            color: #000;
        }
        &--submit {
            background-color: #ffed00;
            border-color: #ffed00;
        }
        &--submit:active {
            background-color: #ccbe00;
            border-color: #c2b400;
        }
        &--submit:focus, &--submit:hover {
            background-color: #f2e100;
            border-color: #ffed00;
        }
    }
    &__comments{
        margin: 10px 0px;
        font-family: $font_DXCRegular;
    }
}