.profiledetails {
    margin-top: 110px;
    font-family: 'GTWalsheimProBold';
    .error-message{
        border: 1px solid #D0011B !important;
    }
    textarea.form-control {
        resize: none;
    }
    .form-control{
        background-color: white;
        font-family: 'GTWalsheimProRegular';
        border: rgb(230, 230, 230) 1px solid;
        padding: 4px 12px;
    }
    .form-control:focus{
        border: 1px solid #ccc;
        background-color: white;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ccc; 
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ccc; 
    }
    &--title {
        margin: 0;
        padding: 20px 0px;
        background-color: black;
        color: $color-yellow ;
        text-align: center;   
    }
    &__h2--title {
        border-bottom: 1px solid $color-yellow;
    }
    &__radioGroup {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 20px;
        &--item {
            flex: 1;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: 'GTWalsheimProRegular';
            font-weight: unset;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;    
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 24px;
                width: 24px;
                background-color: #eee;
                border-radius: 50%;
                border: 1px solid black;
            }
            .checkmark:after {
                top: 3px;
                left: 3px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: black;
            }
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        &--item:hover input ~ .checkmark {
            background-color: #ccc;
        }
        &--item input:checked ~ .checkmark {
            background-color: white;
        }
        &--item input:checked ~ .checkmark:after {
            display: block;
        }
    }
    &__btn{
        &--cancel, &--submit {
            font-weight: bold;
            width: 100%;
            padding: 11px 25px;
            margin: 5px 0px;
            border: #e6e6e6 1px solid;
            border-radius: 4px;
            @include tablet {
                float: right;
                width: 20%;
                margin: 10px;
                padding: 16px 37px;
            }
        }
        &--submit {
            background-color: #ffed00;   
        }
        &--submit:active {
            background-color: #ccbe00;
        }
        &--submit:focus, &--submit:hover {
            background-color: #f2e100;
        }
    }
    &__comments{
        margin: 10px 0px;
        font-family: 'GTWalsheimProRegular';
    }
}

