body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial;
  background: #f2f2f2 !important;
}

header {
  height: 150px;
  img {
    width: 100%;
    height: 100%;
  }
}

.formLogin {
  position: absolute;
  top: 20%;
  left: 27%;
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
  }
  &__outer {
    width: 550px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 30px 33px 30px;

    .formLogin__allComponents {
      label {
        padding-top: 14px;
        font-size: 18px;
        text-align: center !important;
      }
    }

    .formLogin__form {
      .formLogin__demo {
        margin-left: 0px;
      }
    }
  }
  &__title {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 45px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }
  &__logo {
    padding-left: 80px;
    margin-left: 22%;
    width: 200px;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__allComponents {
    input {
      padding: 25px 15px;
      font-size: 20px;
    }
  }

  &__demo {
    margin-left: 0px;
    button {
      font-size: 20px;
      padding: 22px 50px;
      background: #ffed00;
      color: #000000;
      font-weight: bold;
    }
    button:hover {
      background: #ffed00;
    }
  }

  &__span {
    margin-top: 10px;
    color: red;
  }

}

.noBorder {
  border-color: white;
}

.formLogin__email .redBorder{
  border-color: red;
}

@media (max-width: 425px) {
  .formLogin {
    left: 0%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .formLogin {
    left: 12%;
  }
}
