.login {
  position: relative;
  background-image: url($bg-url);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    // margin-top: 50%;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: $color-yellow;
    border: 1px solid $bg-gray;
    border-radius: 3px;
    &:hover {
      background-color: $color-yellow-hover;
    }
  }
  &__rightSide {
    background: white;
    position: absolute;
    height: 100%;
    right: 0;
    text-align: center;
    h3 {
      margin-top: 50%;
    }
  }
  &__header {
    display: flex;
    background: black;
    color: white;
    img {
      width: 20%;
      height: 50px;
    }
    h3 {
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}
