body {
  margin: 0;
  padding: 0;
  background: #f2f2f2 !important;
}

header {
  height: 150px;
  img {
    width: 100%;
    height: 100%;
  }
}

.formLogin {
  position: absolute;
  top: 20%;
  left: 35%;
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
  }
  &__outer {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 30px 33px 30px;
  }
  &__title {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  &__logo {
    padding-left: 80px;
    margin-left: 25px;
    // padding-bottom: 20px;
    // padding-top: 10px;
    width: 200px;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__form &__button {
    margin-left: 85px;
  }
}

@media (max-width: 425px) {
  .formLogin {
    left: 0%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .formLogin {
    left: 25%;
  }
}
